* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}


/* header {
    position: fixed;
    display: block;
} */

.active1 a {
    color: #000 !important;
    font-size: 18px;
    margin-right: 30px;
}

.active1 a:hover {
    font-weight: bolder;
    border-bottom: 1px solid black;
    color: #000;
}

.active2 {
    border-bottom: 2px double black;
}

.nopadding {
    padding: 0 !important;
    height: 50px;
}